@import "tailwindcss";

:root {
  --primary-color: var(--color-gray-800);
  --primary-hover-color: var(--color-gray-500);

  --secondary-color: var(--color-gray-900);

  --tertiary-color: var(--color-gray-600);

  --accent-color: var(--color-yellow-700);
  --accent-hover-color: var(--color-yellow-600);

  --text-color: var(--color-zinc-50);
}

body {
  background-color: var(--primary-color);
  color: var(--color-zinc-50);
  height: 100vh;
}

body::selection {
  background-color: var(--accent-color);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
