@import "tailwindcss";

:root {
  --primary-color: var(--color-gray-800);
  --accent-color: var(--color-yellow-700);
  --hover-color: var(--color-yellow-600);
  --text-color: var(--color-zinc-50);
}

body {
  background-color: var(--primary-color);
  color: var(--color-zinc-50);
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
